# .htaccess para PrestaShop
# Activar el mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir HTTP a HTTPS (si usas SSL)
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Reglas de reescritura para URLs amigables
    RewriteRule ^index.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Asegurar que no haya acceso a archivos importantes
<Files .env>
    Order Deny,Allow
    Deny from all
</Files>
